:javascript
  $(document).ready( function () {
    var info = #{@info.to_json};
    info.create_move_f = #{@info[:create_move_js]};
    info.get_updates_f = #{@info[:get_updates_js]};
    info.get_history_f = #{@info[:get_history_js]};
    var game_show_helper = GO.game_show_helper(info);
    game_show_helper.update_active_on_current_board();
    game_show_helper.update_status_on_current_board();
    $.PeriodicalUpdater('#{move_info_url(:game_id=>@game.id)}',
      { type : 'json', minTimeout: 2000, maxTimeout: 8000 },
      game_show_helper.update_latest_server_info
    );
    $(document).everyTime('1s', function (count) {
      game_show_helper.process_server_info();
    });
    if (#{@game.current_move_number} > 1) {
      game_show_helper.get_history_up_to(#{@game.current_move_number});
    }
  });
-if @game.current_move_number == 0
  .current.move#m0
    .toolbar 
      %h1 Beginning
      %a.back{:href=>"#"} Back
    .board
      = render :partial => "board/board", :locals => { :game => @game }
    %ul.individual.actions
      %a.send Move
    %ul.individual.history
      %li.prev.invisible
        %a.slideback{:href=>"#m0"}
          Prev
          %small 0
      %li.next.invisible
        %a{:href=>"#m1"}
          Next
          %small 1
    .info
-else
  .move#m0
    .toolbar 
      %h1 Beginning
      %a.back{:href=>"#"} Back
    .board
      = render :partial => "board/board", :locals => { :board => @game.initial_board }
    %ul.individual.actions
      %a.send Move
    %ul.individual.history
      %li.prev.invisible
        %a.slideback{:href=>"#m0"}
          Prev
          %small 0
      %li.next
        %a{:href=>"#m1"}
          Next
          %small 1
    .info
  .current.move{:id=>"m#{@game.current_move_number}"}
    .toolbar 
      %h1 Move #{@game.current_move_number}
      %a.back{:href=>"#"} Back
    .board
      = render :partial => "board/board", :locals => { :game => @game }
    %ul.individual.actions
      %a.send Move
    %ul.individual.history
      %li.prev.invisible
        %a.slideback{:href=>"#m#{@game.current_move_number - 1}"}
          Prev
          %small
            = @game.current_move_number - 1
      %li.next.invisible
        %a{:href=>"#m#{@game.current_move_number + 1}"}
          Next
          %small
            = @game.current_move_number + 1
    .info