-# game/show.html.haml
-# going to go somewaht naïve and refactor later
-# begin hideaous workaround for JQTouch and HAML: It seems that <div style='current' id='foo'> is treated differently than
-# <div id=';foo' style='current>, and HAML generates one form when you write .current{ :id=>'foo } and the other when you
-# write %div{ :style=>'current', :id=>'foo' }
-last = @game.actions.last
-if last.nil?
  .current#m0
    .toolbar 
      %h1 Beginning
      %a.back{:href=>"#"} Back
    .board
      = render :partial => "board/board", :locals => { :board => @game.initial_board }
-else
  #m0
    .toolbar 
      %h1 Beginning
      %a.back{:href=>"#"} Back
    .board
      = render :partial => "board/board", :locals => { :board => @game.initial_board }
    %ul.individual
      %li
        %a.slideleft{:href=>'#m1'}
          Next
          %small 1
  -@game.actions[0..-2].each do |action|
    %div{:id=>"m#{action.cardinality}"}
      .toolbar 
        %h1 Move #{action.cardinality}
        %a.back{:href=>"#"} Back
      .board
        = render :partial => "board/board", :locals => { :board => action.after }
      %ul.individual
        %li
          %a.slideright{:href=>"#m#{action.cardinality - 1}"}
            Prev
            %small
              = action.cardinality - 1
          %a.slideleft{:href=>"#m#{action.cardinality + 1}"}
            Next
            %small
              = action.cardinality + 1
  .current{:id=>"m#{last.cardinality}"}
    .toolbar 
      %h1 Move #{last.cardinality}
      %a.back{:href=>"#"} Back
    .board
      = render :partial => "board/board", :locals => { :board => last.after }
    %ul.individual
      %li
        %a.slideright{:href=>"#m#{last.cardinality - 1}"}
          Prev
          %small
            = last.cardinality - 1
#settings
  -# list all game settings