-@actions.each do |action|
  .move{:id=>"m#{action.cardinality}"}
    .toolbar 
      %h1 Move #{action.cardinality}
      %a.back{:href=>"#"} Back
    .board
      -if action.cardinality < action.game.actions.size
        = render :partial => "board/board", :locals => { :board => action.after }
      -else
        = render :partial => "board/board", :locals => { :game => action.game }
    %ul.individual.history
      %li.prev
        %span.simulateSwipeBoardRight{:href=>'#'}
          Prev
          %small.target_move= action.cardinality - 1
      -if action.cardinality < action.game.actions.size
        %li.next
          %span.simulateSwipeBoardLeft{:href=>'#'}
            Next
            %small.target_move= action.cardinality + 1
      -else
        %li.next.invisible
          %span.simulateSwipeBoardLeft{:href=>'#'}
            Next
            %small.target_move= action.cardinality + 1
    .info
      %p