-# action/move/show.html.haml
- action = @move
%div{ :id => "game_#{@move.game.id}_move_#{@move.cardinality}" }
  .toolbar 
    %h1
      %span.gravatar
      %span.playing Move #{action.cardinality}
  .board
    -if action.cardinality < action.game.current_move_number
      = render :partial => "board/board", :locals => { :board => action.after, :latest => action.position }
    -else
      = render :partial => "board/board", :locals => { :game => action.game, :latest => action.position }
  .heyThere
    -if action.kind_of?(Action::Pass)
      #{action.player.titleize} passed.
    -elsif !action.position.blank?
      #{!action.removed.empty? ? (' ' + action.player.titleize + ' captured ' + pluralize(action.removed.size, 'stone.')) : ''}